RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=9diuYeEwSQWhagiV4nMDEPhm2fkheSnjqDPYwRZTSdsq
ADMIN_KEYPAIR_PATH=REPLACE_WITH_KEYPAIR_PATH
USER_KEYPAIR_PATH=REPLACE_WITH_USER_KEYPAIR_PATH
MINT_A=REPLACE_WITH_FIRST_MINT
MINT_B=REPLACE_WITH_SECOND_MINT
